.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        %ul.left-header__members
          Member：
          - @group.users.each do |user|
            = user.name
      .right-header
        .right-header__button
          = link_to 'Edit', edit_group_path(@group), class: "right-header__button"
    .messages
      = render @messages
    .form
      = form_for [@group, @message], html: {class: "js-form"} do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'



-# .messages
    -#   .message
    -#     .upper-message
    -#       .upper-message__user-name
    -#         yu
    -#       .upper-message__date
    -#         2019/04/18
    -#     .lower-meesage
    -#       .lower-message__content
    -#         Hello I'm yu nice to see you
    -#   .message
    -#     .upper-message
    -#       .upper-message__user-name
    -#         helen
    -#       .upper-message__date
    -#         2019/04/18
    -#     .lower-meesage
    -#       .lower-message__content
    -#         I'm happy to be here
    -#   .message
    -#     .upper-message
    -#       .upper-message__user-name
    -#         blanka
    -#       .upper-message__date
    -#         2019/04/19
    -#     .lower-meesage
    -#       .lower-message__content
    -#         don't wanna my homework honestly
